:root {
    --mbc: #B0D9B1;
    --sbc: #618264;
    --main-font-size: 25px;
    --fc: #F0EDEE;
    --mshadow: 5px 5px 6px var(--mbc);
}

.navbar-toggler {
    height: 5vh;
    width: 5vh;
}

nav span,i {
    color: var(--fc);
    font-size: var(--main-font-size);
    font-weight: bold;
}

#navbar-wrapper {
    background-color: var(--sbc);
    padding: 1rem;
    height: 11vh;
}

.navbar-collapse {
    background-color: var(--sbc);
    padding: 0 1em;
}

.navbar-toggler-icon {
    background-color: white;
}

footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .footer-link {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
    background-color: var(--sbc);
}

#home-1 {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-2 {
    height: 100vh;
    background-color: var(--mbc);
}

@media only screen and (max-width: 250px) {
    #navbar-wrapper {
        height: 15vh;
    }
}

@media only screen and (max-width: 424px) {
    footer {
        height: 15vh;
    }
}

@media only screen and (max-width: 269px) {
    footer {
        height: 20vh;
    }
}

@media only screen and (max-width: 177px) {
    footer {
        height: 30vh;
    }
}