/* https://colorhunt.co/palette/61826479ac78b0d9b1d0e7d2 */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
    --body-color: green;
    --main-bg-color: #618264;
    --secondary-bg-color: #79AC78;
    --sam-dev-card-color: var(--main-bg-color);
    --yu-dev-card-color: var(--secondary-bg-color);
    --ben-dev-card-color: var(--main-bg-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 2rem;
    background-color: var(--main-bg-color);
    width: 100%;
}

.logo a, .links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 20px;
}

.logo a:hover, .links a:hover, {
    background-color: #b1c5b3;
    padding: 1px;
}

#header {
    background-color: var(--main-bg-color);
}

.header {
    background-color: var(--main-bg-color);
    max-width: 1400px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10rem 2rem 10rem 2rem;
    gap: 3rem;
}

.header p {
    font-size: 4rem;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.header img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#about {
    background-color: var(--secondary-bg-color);
}

.about {
    background-color: var(--secondary-bg-color);
    max-width: 1400px;
    margin: 0 auto;
}

.about .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 2rem 5rem 2rem;
    gap: 3rem;
}

.about p {
    font-size: 4rem;
    font-weight: bold;
    text-align: right;
    line-height: 1;
}

.about img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

#gallery {
    background-color: var(--main-bg-color);
}

.gallery {
    background-color: var(--main-bg-color);
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
}

.gallery .container {
    padding: 5rem 2rem 5rem 2rem;
}

.gallery h {
    font-size: 5rem;
    font-weight: bold;
}

/* https://youtu.be/McPdzhLRzCg?si=jMkNF5ovVY-mlc6C */
.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
    color: rgba(0, 0, 0, 0);
}

.slider-nav a:hover {
    opacity: 1;
}

footer {
    background-color: var(--secondary-bg-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

footer a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
}

.developers {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.developers .container {
    padding: 2rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

svg {
    margin-bottom: -10px;
}

.developers img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.developers h {
    font-size: 3rem;
}

.developers .dev-title {
    font-size: 2rem;
}

.developers .dev-bio {
    font-size: 1.5rem;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

#developers-page > section:nth-child(2) {
    background-color: var(--sam-dev-card-color);
}

#sam-dev-card {
    background-color: var(--sam-dev-card-color);
}

#developers-page > section:nth-child(3) {
    background-color: var(--yu-dev-card-color);
}

#yu-dev-card {
    background-color: var(--yu-dev-card-color);
}

#developers-page > section:nth-child(4) {
    background-color: var(--ben-dev-card-color);
}

#ben-dev-card {
    background-color: var(--ben-dev-card-color);
}

#support-form {
    background-color: var(--main-bg-color);
}

.support-form {
    background-color: var(--main-bg-color);
    max-width: 1400px;
    margin: 0 auto;
}

.support-form .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 10rem 5rem 10rem;
    gap: 1rem;
}

.sp-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.sp-input-wrapper label {
    font-size: 4rem;
    text-align: center;
}

.sp-input-wrapper input, .sp-input-wrapper textarea {
    border: 3px solid black;
}

.sp-input-wrapper input:focus, .sp-input-wrapper textarea:focus {
    outline: none;
}

.sp-input-wrapper input {
    font-size: 2rem;
    padding: 10px;
    width: 50rem;
}

.sp-input-wrapper textarea {
    width: 50rem;
    padding: 10px;
    resize: none;
}

.support-form button {
    height: 3rem;
    width: 8rem;
    border: 5px solid black;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    padding: 5px;
}

.support-form button:hover {
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .sp-input-wrapper input, .sp-input-wrapper textarea{
        width: 40rem;
    }
}

@media screen and (max-width: 768px) {
    .sp-input-wrapper input, .sp-input-wrapper textarea{
        width: 30rem;
    }
}

@media screen and (max-width: 576px) {
    .sp-input-wrapper input, .sp-input-wrapper textarea{
        width: 20rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .sp-input-wrapper input, .sp-input-wrapper textarea{
        width: 15rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 350px) {
    .sp-input-wrapper label {
        font-size: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .header .container {
        flex-direction:  column;
    }
}

@media screen and (max-width: 768px) {
    .about .container {
        flex-direction:  column;
        gap: 0rem;
    }
    .about p {
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .about p {
        font-size: 3rem;
    }
    .gallery h {
        font-size: 4rem;
        line-height: 1;
    }
}

@media screen and (max-width:300px) {
    .about p {
        font-size: 2rem;
    }
    .gallery h {
        font-size: 3.5rem;
    }
    footer .container {
        flex-wrap: wrap;
        line-height: 0.8;
        gap: 0.25rem;
    }
    footer {
        gap: 0.25rem;
    }
}

